body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: blue;
    background-color: rgb(100, 200, 200);
}

header {
	display: block;
	height: 200px;
}

h1 {
	margin-left: 100px;
	margin-right: 20px;
	text-shadow: 2px 2px 2px rgb(150, 150, 20);
}

nav li {
cursor: pointer;	
}

main {
	width: 1000px;
	margin: auto;
}

p {
	width: 1000px;
	margin: auto;
}

ul {
	text-align: center;
	margin: auto;
}

footer {
	text-align: center;
	margin: auto;
}