body {
	margin: 20;
	padding: 20px;
	border: 30;
	font-size: 100%;
	font-family:"sans-serif";
	vertical-align: baseline;
    color: gray;
    background-color: ;
}

header {
	display: block;
	height: 400px;
	padding-bottom: 20px;
	font-family:"sans-serif";
}

h1 {
	margin-left: 200px;
	margin-right: 200px;
	text-shadow: 8px 8px 8px rgb(150, 150, 20);
	padding-bottom: 20px;
	font-family:"sans-serif";
}

nav li {
cursor: pointer;	
}

main {
	width: 1000px;
	margin: auto;
	font-family:"sans-serif";
}

p {
	width: 200px;
	margin: auto;
	padding: 10px;
	background-color: whitesmoke;
	font-family:"sans-serif";
}

ul {
	text-align: center;
	margin: auto;
}

footer {
	text-align: center;
	margin: auto;
}